/* MaintenanceRequests.css */

.Container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Table {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Modal {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.Button {
  margin-top: 10px;
  background: #4d5952;
  color: rgb(255, 250, 250);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.Button:hover {
  background: #495549;
}

.Form button {
  background: #dce0e5;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  border: 5px solid #ddd;
  cursor: pointer;
  transition: background 0.3s ease;
}

.Form button:hover {
  background: #0056b3;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.Table button {
  border: 5px solid #ddd;
  background: #d9534f;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.Table button:hover {
  background: #c9302c;
  border: 5px solid #ddd;
}

.maintenance-requests-background {
  background: url("C:\Users\westu\OneDrive\Desktop\BMA\src\components\Images\instruments-carpenter-wooden-table_23-2148180540.jpg")
    center/cover no-repeat fixed;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 50px;
}
